einops>=0.4.1
fairscale>=0.4.4
ftfy
iopath
omegaconf
opencv-python-headless>=4.5.5.64
opendatasets
packaging
pandas
pycocoevalcap
pycocotools
scikit-image
timm>=0.4.12
torch
torchvision
tqdm
transformers>=4.15.0
webdataset
wheel
sentencepiece